/.idea/
/build/*
/src/config.xml

!/build/bcbsmp60.bpl
!/build/bdertl60.bpl
!/build/borlndmm.dll
!/build/cc3260mt.dll
!/build/cc3250mt.dll
!/build/dbrtl60.bpl
!/build/dclbcbsmp60.bpl
!/build/hunerf.dll
!/build/qrpt60.bpl
!/build/rtl60.bpl
!/build/vcl50.bpl
!/build/vcl60.bpl
!/build/vcldb60.bpl
!/build/vclx60.bpl